fastapi
uvicorn
streamlit
requests
beautifulsoup4
gtts
googletrans==4.0.0-rc1
vaderSentiment
textblob
deep-translator
pydantic

fastapi
uvicorn
requests
beautifulsoup4
gtts
vaderSentiment
textblob
deep_translator
